<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="../assets/imgs/FriendlyBeads.png" (click)="goHome()"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
    <form [formGroup]="createBraceletForm" (submit)="createBracelet() ">
      <ion-item formControlName="User"></ion-item>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input formControlName="Name" type="text" placeholder="What's this bracelet called?">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Bracelet Description</ion-label>
        <ion-input formControlName="Description" type="text" placeholder="Enter description">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Number of strands</ion-label>
        <ion-input formControlName="Strands" type="text" placeholder="How many strands of thread will this bracelet use?">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Bead Type</ion-label>
        <ion-radio-group formControlName="Beads" value="">
          <ion-radio value="pony-beads">Pony Beads</ion-radio>
          <ion-radio value="seed-beads">Seed Beads</ion-radio>
          <ion-radio value="heishi-beads">Heishi Beads</ion-radio>
        </ion-radio-group>
      </ion-item>
      <ion-item>
        <ion-label stacked>Enter Your Colors</ion-label>
        <ion-label stacked>Choose Color 1</ion-label>
        <ion-radio-group formControlName="Color1" value="">
          <ion-radio value="Red">Red</ion-radio>
          <ion-radio value="Blue">Blue</ion-radio>
          <ion-radio value="Green">Green</ion-radio>
          <ion-radio value="Purple">Purple</ion-radio>
          <ion-radio value="Yellow">Yellow</ion-radio>
          <ion-radio value="Black">Black</ion-radio>
          <ion-radio value="White">White</ion-radio>
        </ion-radio-group>
        <ion-label stacked>Choose Color 2</ion-label>
        <ion-radio-group formControlName="Color2" value="">
          <ion-radio value="Red">Red</ion-radio>
          <ion-radio value="Blue">Blue</ion-radio>
          <ion-radio value="Green">Green</ion-radio>
          <ion-radio value="Purple">Purple</ion-radio>
          <ion-radio value="Yellow">Yellow</ion-radio>
          <ion-radio value="Black">Black</ion-radio>
          <ion-radio value="White">White</ion-radio>
          <ion-radio value="None">None</ion-radio>
        </ion-radio-group>
      </ion-item>
      <ion-item>
        <ion-label stacked>Are there any letters or words on your bracelet?</ion-label>
        <ion-input formControlName="Letters" type="text" placeholder="Enter letters/words here"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Enter a tag for your bracelet</ion-label>
        <ion-input formControlName="Tags" type="text" placeholder="Enter tags here"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">
        Add Bracelet
      </ion-button>
    </form>
  </ion-content>

</ion-content>
