ion-img::part(image){
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:500px;
  padding-left: 35%;
}

ion-item {
  ion-label {
    flex: 0 0 200px;
    width: 200px;
  }
}
