<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card> <!--Create floating card to hold sign in fields-->
        <ion-card-header>
          <ion-card-title color="primary">Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item> <!--Email Field-->
            <ion-input [(ngModel)]="email" label="Email" labelPlacement="floating" placeholder="example@example.com" color="secondary" type="email"
            formControlName="email"></ion-input>
          </ion-item>
          <!--Shows if email entered is invalid-->
          <ion-label color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">Email is invalid</ion-label>
          <ion-item> <!--Password Field-->
            <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating" color="secondary" type="password" formControlName="password"></ion-input>
          </ion-item>
          <!--Register Button--><ion-button class="ion-text-wrap" style="max-width: 235px;" color="danger" (click)="goToRegister()">Don't have an account?
            Register</ion-button> <!--Submit Button--><ion-button color="primary" size="default" [disabled]="!form.valid"
            (click)="login()">Submit</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
