<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">
        Friendly Beads
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <button ion-buttton (click)="goToSignIn()">Sign-In</button>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
